.Page1-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-image: url(../../../../assets/images/blank.jpg);
  background-size: cover;
}

.Page1-header {
  max-width: 600px;
  margin: 20% auto;
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
  text-align: left;
  align-items:flex-start;
  align-content:flex-start;
  white-space: pre-line;
  line-height: 1.3;
}

.Page1-header p {
  padding-bottom: 10px; /* Adjust the bottom margin of paragraphs */
}

.Page1-button-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 10% 30%;
}

.Page1-button {
  border: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
}

.Page1-button:focus {
  text-decoration: underline;
}
