.GameBodyPage2-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.GameBodyPage2-header {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity:0.1;
}

.GameBodyPage2-header-text {
  width: 300px;
  height: 60px;
  background-color: rgb(250, 235, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.GameBodyPage2-player-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameBodyPage2-action-count-box {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size:1.2em;
  opacity:0.1;
}

.GameBodyPage2-ai-name-box {
  background-color: rgb(189,211,251);
  border: 3px solid;
  border-color: rgb(60, 100, 184);
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  
  margin-bottom: 10px;
}

.GameBodyPage2-human-name-box {
  background-color: rgb(222, 184, 135);
  border: 3px solid;
  border-color: rgb(182, 154, 115);
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 30px;
}

.GameBodyPage2-button-container {
  height: 30%;
}

.GameBodyPage2-pause-button {
  background-color: rgb(189, 211, 251);
  border: 3px solid;
  border-color: rgb(60, 100, 184);
  border-radius: 30px;
  height: 60px;
  width: 160px;
  font-size: 1.2em;

  font-weight: bold;
  margin-bottom: 20px;
}

.GameBodyPage2-top-row {
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.GameBodyPage2-bottom-row {
  height: 35%;
}

.GameBodyPage2-ball {
  background-color: rgb(0, 128, 0);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  transition: transform 0.2s linear;
}

/*
 * Note: Subtracting 50% of the ball radius to position the centre of the ball at the name box border.
 * 30px is the nominated offset from the name box border.
 * 140px is the distance from the header component to the border of the AI name box
 * (sum of heights and margins of the name and count boxes)
 */

.GameBodyPage2-ball-human {
  transform: translate(calc(50vw - 50%), calc(55dvh - 10px - 50%));
}

.GameBodyPage2-ball-ai-1 {
  transform: translate(calc(25vw - 50%), calc(25dvh + 80px + 30px - 50%));
}

.GameBodyPage2-ball-ai-2 {
  transform: translate(calc(75vw - 50%), calc(25dvh + 80px + 30px - 50%));
}

.App-modal {
  width: 60%;
  height: 40%;
  overflow: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}
