.RedirectPage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.RedirectPage-header {
  max-width: 400px;
  margin: 25% auto;

  font-size: 1.4em;
}

.RedirectPage-countdown {
  margin: 0 5% 25%;

  font-size: 1.3em;
  font-weight: bold;
}
